header {
    width: 80%;
    margin: 3% auto;
}

form {
    margin: auto auto;
    width: 50%;
}

.hidden {
    display: none;
}
.firstHeader{
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.firstHeader h1 {
    font-size: 30px;
}

.firstHeader .new {
    font-size: 16px;
    font-weight: bold;
    background-color: #143766;
    color: white;
    width: 138px;
    text-align: center;
    padding-top: 19px;
    height: 55px;
    border-radius: 20px;
}

header .category {
    display: flex;
    margin-top: 50px;
    width: 100%;
    align-items: flex-start;
    border-bottom: 1px solid #e7ebf0;
    padding-bottom: 15px;
    padding-left: 2px;
}
header .category li {

    width: 200px;
}
.columns  {
    display: flex;
    width: 152%;
    margin-top: 59px;
    padding-left: 23px;
    font-size: 14px;
}

.columns li {
    width: 349px;
    font-size: 20px;
}

.column__priority li:not(:first-child) {
    display: none;
}

.column__status li:not(:first-child) {
    display: none;
}

.effect:hover > li:not(:first-child) {
    display: block;
}

#Capa_1 {
    width: 30px;
    height: 30px;
}

.todos {
    display: flex;
    margin: 0 auto;
    width: 80%;
}

.todo {
    width: 170%;
    padding-left: 21px;
    font-size: 15px;
}

.formOpen {
    display: block;
}